/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    height: 6vh;
    /* background-color: #056b85b7; */
    /* background-color: #095a6ed8; */
    background: linear-gradient(90deg, #1a3c6b 0%, #2a5c9b 100%);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}